/*Global Styles*/
@import url("https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  border: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(27, 91, 175);
  color: black;
  text-align: center;
  font-family: "Lugrasimo", cursive, Helvetica, sans-serif;
}
/* Heading backgrounds*/
h1,
h2 {
  background-color: rgb(217, 217, 248);
  margin-left: 10vw;
  margin-right: 10vw;
  padding-top: 20px;
}
h1 {
    margin-top: 20px;
  }
h2 {
      padding-bottom: 20px;
  }
#element-heading {
    padding-bottom: 30px;
    text-transform: uppercase;
}


/* Rules Area Styles */

.rules-area-container {
  display: flex;
  margin-bottom: 20px;
  background-color: rgb(217, 217, 248);
  margin-left: 10vw;
  margin-right: 10vw;
}
.cell {
  width: 48%;
}

.rules {
  font-family: "Roboto Condensed", sans-serif;
  list-style-position: inside;
}
.rules li {
  padding: 5px;
}

/* Game Area Styles */
.game-area {
  background-color: rgb(217, 217, 248);
  padding: 5%;
  margin-bottom: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.element-area {
  display: flex;
  justify-content: space-around;
}
.button-text {
  display: flex;
  position: relative;
  justify-content: space-around;
  text-transform: uppercase;
}
#fire-text {
  position: relative;
  left: -0.2rem;
}
.result-area {
  padding: 5vh 1vw;
}
#result-headings {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
}
#choices {
  display: flex;
  justify-content: space-between;
}
#rolls, #bonus, #final-score {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
  }
#final-score {
    margin-bottom: 20px;
}
.score-area {
  display: inline-block;
  padding: 10px;
  padding-top: 40px;
}
#wins {
  color: rgb(5, 99, 5);
}
#losses {
  color: darkred;
}

/* Button Styles */
.button {
  font-family: "Lugrasimo", cursive, Helvetica, sans-serif;
  width: 10rem;
  height: 5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}
.hide {
    visibility: hidden;
}
.button:focus {
  outline: none;
}
.big {
  padding-top: 10px;
  border-radius: 50%;
  background-color: white;
  border: 10px solid;
  width: 100px;
  height: 100px;
  font-size: 4rem;
  margin: 0 20px;
  margin-bottom: 10px;
  transition: all 0.5s;
}

.red {
  border-color: red;
  color: red;
}
.blue {
  border-color: blue;
  color: blue;
}
.green {
  border-color: green;
  color: green;
}

.red:active,
.red:hover {
  background-color: orange;
}
.blue:active,
.blue:hover {
  background-color: aquamarine;
}
.green:active,
.green:hover {
  background-color: lightgreen;
}
#begin-restart {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.grey {
  background-color: #445361;
  border: 1px transparent;
  border-radius: 20px;
}
/*Footer Styles*/
footer p {
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgb(217, 217, 248);
  margin-bottom: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

/* Media Queries */
@media (max-width: 500px) {
    h1,
    h2 {
      background-color: rgb(217, 217, 248);
      margin-left: 0;
      margin-right: 0;
      padding-top: 20px;
    }
    .game-area {
    margin: 0;
  }
  .rules-area-container {
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    flex-direction: column;
  }
  .cell {
    width: 100%;
  }
  
  .rules {
    font-family: "Roboto Condensed", sans-serif;
    list-style-position: inside;
  }
  .rules li {
    padding: 5px;
  }
  .big {
    margin: 0 10px;
    padding: 5px;
    border: 7.5px solid;
    width: 75px;
    height: 75px;
    font-size: 2.5rem;
  }
  .button-text {
    font-size: 12px;
  }
  .grey {
    width: 6rem;
    height: 3rem;
  }
  .score-area {
    margin-top: 10px;
  }
  footer {
    margin-top: 10px;
  }
  h1 {
    font-size: 1.5em;
  }
  .rules-heading {
    font-size: 1.3em;
  }

}

@media (max-width: 320px) {
  h1 {
    font-size: 1.4em;
  }
  .choices {
    display: flex;
    flex-direction: column;
  }
}
